<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/style.css">
  <title>My Song Library</title>
</head>

<body class="sour-gummy-font">

  <nav>
    <ul>
      <li>
        <a href="/songs">See current songs</a>
      </li>
      <li>
        <a href="/songs/new">Add a new song</a>
      </li>
    </ul>
  </nav>
  <div class="welcome-box">
    <h1>Welcome to the Song Library</h1>
    <p>An app for keeping track all your songs and how much you love them</p>
    <img src="/images/cassette.jpg" alt="cassette tape">
  </div>
</body>

</html>