@import url("https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap");

.sour-gummy-font {
  font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

body {
  background-color: #fffcfa;
}

p {
  padding: 10px;
  font-size: 1.3em;
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 3em;
}
a {
  text-decoration: none;
  color: black;
}
a:visited {
  color: black;
}

/* nav bar styling */
nav {
  padding: 0;
  text-align: center;
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 0;
  list-style: none;
}
nav a:hover {
  background-color: #fcf1b9;
  transition: color 0.3s ease-in-out;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 5px;
}

nav li {
  padding: 8px 15px;
  font-size: 1.8em;
}

.welcome-box {
  width: 50%;
  height: 75vh;
  background-color: #fcf1b9;
  color: black;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
}

/*individual song details */
.song-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.song-card {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  background-color: #fcf8e3;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
  align-items: center;
  text-align: center;
}

.song-card img {
  align-self: center;
  justify-self: center;
  height: 150px;
  width: 150px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.audio-preview {
  align-self: center;
}

.song-info {
  font-size: 1.5em;
  margin-bottom: 8px;
  /* padding: 5px; */
}

/* styling when songs all on one page */
.small-song-card img {
  align-self: center;
  justify-self: center;
  height: 100px;
  width: 100px;
}
.small-song-card-container {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.small-song-card {
  display: flex;
  flex-direction: column;
  padding: 15px;
  background-color: #fcf8e3;
  color: black;
  height: 250px;
  width: 200px;
  font-size: 1.5em;
  align-items: center;
  justify-content: space-around;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.small-song-card:hover {
  background-color: #fffcfa;
  transform: scale(1.05);
}

.small-song-info {
  text-align: center;
}

/* form styling */

.form-container {
  max-width: 350px;
  margin: 20px auto;
  background-color: #fcf1b9;
  padding: 15px;
}

form {
  display: flex;
  flex-direction: column;
}
.show-form {
  flex-direction: row;
  gap: 8px;
}

label {
  margin-top: 10px;
  font-size: 1.5em;
}

input {
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1em;
}

button {
  background-color: #ccc;
  margin-top: 15px;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 1.3em;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
  font-family: "Sour Gummy", sans-serif;
}

button:hover {
  background-color: white;
  transform: scale(1.05);
}
#rating {
  width: 75px;
}

.edit-button {
  background-color: #ccc;
  border: 1px solid #ccc;
  margin-top: 15px;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 1.3em;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
  border-bottom: 2px solid #888;
  border-right: 2px solid #888;
}

.edit-button a {
  text-decoration: none;
  color: black;
  display: block;
  padding: 8px;
}

.edit-button:hover {
  background-color: white;
  transform: scale(1.05);
  border: 1px solid #aaa;
  border-bottom: 2px solid #888;
  border-right: 2px solid #888;
}

/* responsive styles */

@media screen and (max-width: 768px) {
  .small-song-card-container {
    flex-direction: column;
    align-items: center;
  }

  .small-song-card {
    height: 350px;
    width: 300px;
    font-size: 2em;
  }

  .form-container {
    width: 90%;
  }
  .welcome-box {
    width: 90%;
  }
}
